[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_session = "*"
pymongo = "*"
dotenv = "*"
certifi = "*"
pytest = "*"
pytest-flask = "*"
pylint = "*"
black = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3"
